:host {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
}

nav {
  padding: 4px;
  background: rgba(gray, 0.2);

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    li {
      width: calc(100% - 16px);
      text-transform: capitalize;
      padding: 4px 8px;
      cursor: pointer;
      transition: background 300ms ease;

      &:hover {
        background: rgba(gray, 0.2);
      }

      &.active {
        background: rgba(white, 0.5);
        color: black;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;

  .separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid rgba(gray, 0.5);
    margin-top: 16px;
  }
}
