<header>
  <dlsd-switch
    [label]="
      I18N + (view() === View.ROUTER_OUTLET ? '.router' : '.components')
        | translate
    "
    [value]="view() === View.ROUTER_OUTLET"
    (valueChange)="changeView($event)"
  ></dlsd-switch>
</header>

<nav>
  <ul>
    @for (route of routes(); track route) {
    <dlsd-nav-item
      [route]="route"
      [activeRoutesTree]="activeRouteTree()"
      (activate)="navigateTo($event)"
    ></dlsd-nav-item>
    }
  </ul>
</nav>

<main #mainContainerRef [ngClass]="{ router: view() === View.ROUTER_OUTLET }">
  @if (view() === View.COMPONENT_OUTLETS) {
  <dlsd-components-container [routes]="routes()"></dlsd-components-container>
  } @else {
  <router-outlet></router-outlet>
  }
</main>
