<nav>
  <ul>
    @for (route of ROUTES; track route) {
    <li
      class="f-paragraph-regular-2"
      [ngClass]="{ active: route === activeSection() }"
      [tabindex]="-1"
      (click)="changeSection(route)"
      (keydown.space)="changeSection(route)"
    >
      {{ route.title }}
    </li>
    }
  </ul>
</nav>

<main #container>
  @for (route of ROUTES; track route.title) {
  <ng-container *ngComponentOutlet="route.component!"></ng-container>

  @if (!$last) {
  <div class="separator"></div>
  } }
</main>
