$grayscale-0: #fff;
$grayscale-1: #d6d6d6;
$grayscale-2: #bdbdbd;
$grayscale-3: #aaaaaa;
$grayscale-4: #9b9b9b;
$grayscale-5: #868686;
$grayscale-6: #5a5a5a;
$grayscale-7: #464646;
$grayscale-8: #3b3b3b;
$grayscale-9: #1a1a1a;

$blue-1: #9ad0ff;
$blue-2: #77b4e9;
$blue-3: #4f92cc;
$blue-4: #327ec0;
$blue-5: #1471c2;

$red-1: #ff2525;
