$grayscale-0: #fff;
$grayscale-1: #d6d6d6;
$grayscale-2: #bdbdbd;
$grayscale-3: #aaaaaa;
$grayscale-4: #9b9b9b;
$grayscale-5: #868686;
$grayscale-6: #5a5a5a;
$grayscale-7: #464646;
$grayscale-8: #3b3b3b;
$grayscale-9: #1a1a1a;

$blue-1: #9ad0ff;
$blue-2: #77b4e9;
$blue-3: #4f92cc;
$blue-4: #327ec0;
$blue-5: #1471c2;

$red-1: #ff2525;
$red-2: rgba(#ff2525, 0.4);
$red-3: rgba(#ff2525, 0.6);
$red-4: rgba(#ff2525, 0.8);
$red-5: #ff2525;

$green-1: rgba(#008800, 0.2);
$green-2: rgba(#008800, 0.4);
$green-3: rgba(#008800, 0.6);
$green-4: rgba(#008800, 0.8);
$green-5: #008800;

$yellow-1: rgba(#ddaa00, 0.2);
$yellow-2: rgba(#ddaa00, 0.4);
$yellow-3: rgba(#ddaa00, 0.6);
$yellow-4: rgba(#ddaa00, 0.8);
$yellow-5: #ddaa00;
