$grayscale-0: #fff;
$grayscale-1: #70798c;
$grayscale-2: #70798c;
$grayscale-3: #70798c;
$grayscale-4: #70798c;
$grayscale-5: #252323;
$grayscale-6: #252323;
$grayscale-7: #252323;
$grayscale-8: #252323;
$grayscale-9: #252323;

$blue-1: #5f9dd3;
$blue-2: #4f93cf;
$blue-3: #3f89ca;
$blue-4: #357fc0;
$blue-5: #3074b0;
